
.Title {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  color: white;
  font-family: "Playfair Display";
  padding-right:50px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 20px;
  font-family: "Playfair Display";
  text-align: left;
}

.App-link {
  color: #61dafb;
  font-size: 20px;
}

.Text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Text-15 {
  font-size: 15px;
  padding-left: 30px;
  color: red;
}
.Text-20 {
  font-size: 20px;
  padding-left: 30px;
  color: red;
}
.Text-30 {
  font-size: 30px;
  padding-left: 30px;
  color: red;
}
.h1 {
  color: red;
}

.image {
  max-width: 150px;
  justify-content: right;
}